@model List<UserDTO>
@{
    ViewData["Title"] = "User List";
    var count = 0;
}

<table class="table table-responsive mx-2">
    <thead>
        <tr>
            <td>#</td>
            <td>Name</td>
            <td>Email</td>
            <td>Role</td>
            <td>Phone</td>
            <td>Address</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var user in Model)
        {
            <tr>
                <td>@(++count)</td>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td>@user.Role</td>
                <td>@user.Phone</td>
                <td>@user.Address</td>
            </tr>
        }
    </tbody>
</table>
